/* ---[ TYPOGRAPHY ]-------------------------------------------------------- */

html{
    font-family: Georgia, serif;
    background-color: #333;
}

h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #555;
    color: #BBB;
    padding-left: 15px;
}

h1 a{
    text-decoration: none;
    color: #BBB;
}

h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

h3{
    font-size: 1.3em;
    font-weight: bold;
}

a{
    color: black;
}

a:hover{
    color: #8C8C8C;
}

ul{
    margin-top: 10px;
    margin-left: 20px;
    list-style: circle;
}

p{
    margin-bottom: 1em;
}

strong{
    font-weight: bold;
}

/* ---[ LAYOUT ]------------------------------------------------------------ */

#container{
    width: 960px;
    margin: 10px auto;
    position: relative;
    background-color: #F4F4C4;
    padding: 0px 0px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div.logo{
    height: 130px;
}

img.logo{
    margin: 20px;
    position: absolute;
    right: 0px;
}

#content{
    margin: 20px;
}

#messages ul{
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
}

#messages li{
    padding: 5px 10px;
    margin: 0px 5px;
    border: 1px solid #555;
    font-weight: bold;
    background-color: #CCC;
}

footer{
    margin-top: 50px;
    padding: 10px;
    background-color: #d4c474;
}

/* Multi device support */
@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
